

<p> Name: <%= @prescription.name %> </p>
<p> description: <%= @prescription.description %> </p>
<p> frequency: <%= @prescription.frequency %> </p>

<% if false %>
    <% @prescriptions.each do |prescription| %>
        <%= prescription.name %><br>
    <% end %>
<% end %>


