
<!-- Example single danger button -->
        
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Home
        </button>
        <div class="dropdown-menu" style="width:40em">
            <div class="row">
                <div class="col border-right border-primary">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </div>

            </div> 
        </div>

    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </button>
        <div class="dropdown-menu" style="width:40em">
            <div class="row">
                <div class="col">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </div>


            </div> 
        </div>

    </div>


    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Clinical
        </button>
        <div class="dropdown-menu" style="width:70em">
            <div class="row">
                <div class="col">
                    <h6>People</h6>
                    <li><a class="dropdown-item" href="#">Residents</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <h6>Actions</h6>
                    <li><a class="dropdown-item" href="#">Quick ADT</a></li>
                    <li><a class="dropdown-item" href="#">New Resident</a></li>
                    <li><a class="dropdown-item" href="#">New Medical Professional</a></li>
                </div>

                <div class="col">
                    <h6>Care Management</h6>
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Hospital Transfers</a></li>
                    <li><a class="dropdown-item" href="#">MDS</a></li>
                    <li><a class="dropdown-item" href="#">Communications</a></li>
                    <li><a class="dropdown-item" href="#">Orders</a></li>
                    <li><a class="dropdown-item" href="#">Weights and Vitals</a></li>
                    <li><a class="dropdown-item" href="#">UDA</a></li>
                </div>
                <div class="col">
                    <h6>Quick Entry</h6>
                    <li><a class="dropdown-item" href="#">Therapy Minutes</a></li>
                    <li><a class="dropdown-item" href="#">Physician Visits</a></li>
                    <li><a class="dropdown-item" href="#">Immunization</a></li>
                    <li><a class="dropdown-item" href="#">Weight</a></li>
                    <li><a class="dropdown-item" href="#">Blood Pressure</a></li>
                    <li><a class="dropdown-item" href="#">Temperature</a></li>
                    <li><a class="dropdown-item" href="#">Respiration</a></li>
                    <li><a class="dropdown-item" href="#">Pulse</a></li>
                    <li><a class="dropdown-item" href="#">Blood Sugar</a></li>
                    <li><a class="dropdown-item" href="#">O2 Saturation</a></li>
                    <li><a class="dropdown-item" href="#">Pain Level</a></li>

                </div>

                <div class="col">
                    <h6>Modules</h6>
                    <li><a class="dropdown-item" href="#">POC</a></li>
                    <li><a class="dropdown-item" href="/nurses/12">eMAR</a></li>

                </div>

                <div class="col">
                    <h6>Other</h6>
                    <li><a class="dropdown-item" href="#">Reports</a></li>
                    <li><a class="dropdown-item" href="#">Help</a></li>

                </div>
            </div> 
        </div>

    </div>

  