
    <% @vitals.each do |vital| %>
        <p> Temperature: <%= vital.temperature %></p>
        <p> Pressure: <%= vital.pressure %></p>
        <p> Pulse: <%= vital.pulse %></p>

        <hr>
    <% end %>
